@tailwind base;
@tailwind components;
@tailwind utilities;


.kit-container {
  @apply max-w-[1440px] mx-auto md:px-0 px-[20px] w-full
}

.slick-prev:before, .slick-next:before {
  color: #61261D !important;
}

.active-filter {
  font-weight: bold;
}

.bg-transparent {
  background-color: transparent;
  transition: background 0.3s ease;
}

.bg-image {
  background-image: url('/public/image/headerbjop.png');
  background-size: cover;
  background-position: center;
  transition: background 0.3s ease;
}

.menu-icon {
  display: none;
  /* Hidden by default */
}

.kit-ul {
  display: flex;
}

.header-wrapper {
  padding: 14px 67px;
  margin: 0 50px;
}

@media (max-width: 1340px) {
  .menu-icon {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 300px;
    transform: translateX(-100%);
    z-index: 100;
    padding: 50px 0 0 50px;
  }

  .kit-ul {
    display: block;
  }

  /* .kit-nav-wrap{
        transform: translateX(0);
    } */
  .search-text {
    display: none;
  }

  .header-wrapper {
    padding: 14px 10px;
    margin: 0 20px;
  }
  .text-color-mb{
    color: black !important;
  }

}

@media (max-width:991px) {
  .logo {
    max-width: 100px;
  }
}

nav {
  transition: transform 0.3s ease-in-out;
}

.bg-image,
.bg-transparent {
  transition: background 0.3s ease;
}



.top-keyframe {
  animation: arrow2 1s infinite linear;
}

@keyframes arrow2 {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

.hover-text:hover {
  animation: beat3 0.8s 1 cubic-bezier(0.4, 4, 0.3, 0.4);
  color: #f22534;
}

@keyframes beat3 {
  50% {
    -webkit-transform: scale(1.03, 0.9);
    transform: scale(1.03, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}



.slick-prev:before,
.slick-next:before {
  content: '←';
  display: none;
}

@media (max-width:1440px) {
  .kit-container {
    max-width: 1200px;
    padding: 0 20px;
  }

  .kit-nav-wrapper {
    max-width: 1200px;
    padding: 0 20px;
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}

.about-jir {
  height: auto;
}

@media (min-width:768px) {

  .slick-prev,
  .slick-next {
    display: block !important;
  }
}


@media (max-width:1024px) {
  .about-jir {
    height: 15rem;
    overflow-y: auto;
  }

  .about-fo-slide {
    height: 15rem;
    overflow-y: auto;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.animate-overlay {
  animation: appear 200ms ease-in 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}



.video-play-button-ani {
  animation: arrow1 1.5s infinite linear;
}

@keyframes arrow1 {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}




.slider-container-2 .slick-prev {
  left: -185px;
}

.slider-container-2 .slick-next {
  right: -195px;
}